<div class="content">
  <div class="create-event-button">
    <button type="button" class="btn btn-primary float-right" (click)="createFormVisible=true">
      New Event
    </button>
  </div>
</div>
<div class="card" *ngIf="createFormVisible">
  <div class="card-block">
      <form class="create-event-form">
          <div class="user-info">
              <div class="form-group username-form">
                  <label for="userName">Username</label>
                  <input type="text" class="form-control" id="userName" placeholder="Username">
                </div>
                <div class="form-group email-form">
                  <label for="inputEmail">Contact Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                </div>
          </div>
          <div class="event-time">
              <div class="form-group date-form">
                  <label for="inputDate">Event Date</label>
                  <input type="date" class="form-control" id="inputDate">
                </div>
                <div class="form-group time-form">
                  <label for="inputTime">Start Time</label>
                  <input type="time" class="form-control" id="inputTime">
                </div>
                <div class="form-group time-form">
                  <label for="inputTime">End Time</label>
                  <input type="time" class="form-control" id="inputTime">
                </div>
          </div>
        
          <div class="form-group address-form">
            <label for="eventAddress">Event Address</label>
            <textarea class="form-control" id="eventAddress" rows="3"></textarea>
          </div>
              <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
              <button type="cancel" class="btn btn-primary" id="cancel-btn" (click)="createFormVisible=false">Cancel</button>
        </form>
  </div>
</div>
<!-- <div class="card" *ngFor="let event of events"> -->
<div class="card">  
  <div class="card-block">
    <h4>
      <!-- <a routerLink="event/{{event._id}}">{{event.organizer.firstName}}'s Event</a> -->
      <a routerLink="/eventId">Yuan's Event</a>
    </h4>
    <!-- <p class="address">Address: {{event.address}}</p> -->
    <!-- <p class="event-time">Event time: {{event.eventTime.date}} {{event.eventTime.startTime}} to {{event.eventTime.endTime}}</p> -->
    <!-- <p class="num-participants">Currently {{event.participants.length}} participants</p> -->
    <p class="address">Address: 3616 South Road, Building D, Mukilteo, WA 98275</p>
    <p class="event-time">Event time: Aug 1, 2018 7:30pm to 10:00pm</p>
    <p class="num-participants">Currently 6 participants</p>
  </div>
</div>
<div class="card">
    <div class="card-block">
        <h4>
          <!-- <a routerLink="event/{{event._id}}">{{event.organizer.firstName}}'s Event</a> -->
          <a>Shroud's Event</a>
        </h4>
        <!-- <p class="address">Address: {{event.address}}</p> -->
        <!-- <p class="event-time">Event time: {{event.eventTime.date}} {{event.eventTime.startTime}} to {{event.eventTime.endTime}}</p> -->
        <!-- <p class="num-participants">Currently {{event.participants.length}} participants</p> -->
        <p class="address">Address: 221B Baker Street</p>
        <p class="event-time">Event time: Aug 9, 2018 7:30pm to 10:00pm</p>
        <p class="num-participants">Currently 2 participants</p>
      </div>
</div>
