<!-- <div class="card" *ngFor="let event of events"> -->
<div class="card">  
  <div class="card-block">
    <h4>
      <!-- <a routerLink="event/{{event._id}}">{{event.organizer.firstName}}'s Event</a> -->
      <a routerLink="/eventId">Yuan's Event</a>
    </h4>
    <!-- <p class="address">Address: {{event.address}}</p> -->
    <!-- <p class="event-time">Event time: {{event.eventTime.date}} {{event.eventTime.startTime}} to {{event.eventTime.endTime}}</p> -->
    <!-- <p class="num-participants">Currently {{event.participants.length}} participants</p> -->
    <p class="address">Address: 3616 South Road, Building D, Mukilteo, WA 98275</p>
    <p class="event-time">Event time: Aug 1, 2018 7:30pm to 10:00pm</p>
    <p class="num-participants">Currently 6 participants</p>
  </div>
</div>
