<div class="text-center">
  <form class="form-register">
    <!-- <img src="../../assets/images/shuttlecock-big.jpg" alt width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Come Join Us!</h1>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email Address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
    </div>
    <div class="form-group">
      <label for="userName" class="sr-only">Username</label>
      <input type="text" id="userName" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <a routerLink="/login">Already a member? Login here!</a>
  </form>
</div>
