@import url("//fonts.googleapis.com/css?family=Muli");
@import url("//fonts.googleapis.com/css?family=Jua");


h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
}

/* nav bar */

.navbar {   
    z-index: 5;
    padding: .7rem;
}

.navbar-brand {
    font-family: 'Jua', sans-serif;
    color: #000000;
    font-weight: normal;
    font-size: 1.5rem;
    display: inline-block;
}

a.nav-link {
    color: #000000;
}

.navbar-toggler {
    display: inline-block;
    width: 60px;
}

.navbar-toggler-icon {
    margin: auto;
}

/* card, content, etc */

.card {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

h4 a, h4 a:hover {
    color: #484848;
}

/* page background */

.container {
    margin-top: 10px;
}

.home-container:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../assets/images/badminton1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: 0;
}

.events-container:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../assets/images/badminton2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: 0;
}

.user-container:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../assets/images/badminton5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: 0;
}

/* content layout */

.user-container {
    margin-top: 85px;
}

.page-container {
    margin-top: 20px;
}

.slogan-content {
    position: relative;
    margin: 15%;
}

.slogan {
    text-align: center;
    font-size: 2rem;
    z-index: 3;
    font-weight: normal;
    font-family: 'Jua', sans-serif;
}

.page-content {
    position: relative;
    z-index: 3;
    opacity: 1;
}

body {
    font-family: "Cabin", Arial, sans-serif;
    color: #484848;
    background-color: #ffffff;
}

p {
    font-weight: normal;
}

.event-title {
    font-weight: bold;
}

.event-content {
    margin-top: 20px;
}

.event-detail-block {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

/* login & register*/

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.signup-button {
    max-width: 100px;
}

.create-event-button {
    max-width: 100px;
    display: block;
    position: relative;
    z-index: 3;
}

.edit-btn {
    width: 100px;
    display: inline-block;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* create event form */

#submit-btn, #cancel-btn {
    display: inline-block;
    max-width: 100px;
    margin-right: 20px;
}

.create-event-form {
    display: block;
}

.user-info {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

.user-info-small {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.username-form {
    display: inline-block;
    max-width: 100px;
    margin-right: 20px;
}

.email-form {
    display: inline-block;
    max-width: 300px;
}

.event-time {
    display: block;
}

.date-form, .time-form {
    display: inline-block;
    margin-right: 20px;
}

.address-form {
    max-width: 800px;
}

.create-event-form {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 1px;
    margin-right: 8px;
    margin-bottom: 5px;
}